:root{
    --poppin: 'Poppins', sans-serif;
    --purple: #081178;
    --purple-2: #5D67F7;
    --light-purple: #E5F1FF;
    --gold: #F88600;
    --anim: all ease-out 0.3s;
}

@font-face {
    font-family: frl;
    src: url(../fonts/Fracktif-Light.otf);
  }
@font-face {
  font-family: frr;
  src: url(../fonts/Fracktif-Regular.otf);
}
@font-face {
  font-family: frb;
  src: url(../fonts/Fracktif-Medium.otf);
}
/*@font-face {
  font-family: frb;
  src: url(../fonts/Fracktif-Bold.otf);
}*/


*{
    font-family: "frl", sans-serif;
}
 
.master{
    width: 100%;
    max-width: 360px;
    margin: auto;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    padding-top: 60px;
}

section{
    width: 100%;
    float: left;
    position: relative;
}

section.wave::before{
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    left: 0;
    z-index: 3;
}
section.wave.wave-1::before{
    background: url(../images/wave-1.svg) no-repeat center bottom;
    background-size: contain;
    top: calc(100% - 5px);
}
section.wave.wave-2::before{
    background: url(../images/wave-2.svg) no-repeat center bottom;
    background-size: contain;
    top: calc(100% - 5px);
}
section.wave.wave-3::before{
    background: url(../images/wave-2-b.svg) no-repeat center bottom;
    background-size: contain;
    bottom: 100%;
}

p{
    font-size: 14px;
    color: var(--purple);
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.ln-nav{
    max-width: 360px;
    position: fixed;
    top: 0;
    left: calc((100% - 360px) / 2);
    z-index: 9;
    height: 60px;
    background: var(--purple);
    transition: var(--anim);
    -moz-transition: var(--anim);
    -webkit-transition: var(--anim);
}
.ln-nav .burger{
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding-top: 12px;
}
.ln-nav .badge{
    width: 60px;
    height: 60px;
    float: left;
    padding: 15px;
}
.ln-nav .logo{
    width: calc(100% - 120px);
    height: 60px;
    float: left;
    text-align: center;
    padding: 10px;
}
.ln-nav .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ln-menu-pop{
    width: 360px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    left: calc((100% - 360px) / 2);
    z-index: 9;
    background: var(--light-purple);
    padding: 20px;
    transition: var(--anim);
    -moz-transition: var(--anim);
    -webkit-transition: var(--anim);
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
}
.ln-menu-pop.show{
    opacity: 1;
    pointer-events: auto;
}
.personal-info{
    width: 100%;
    float: left;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #fff;
    padding: 20px;
    min-height: 100px;
    margin-bottom: 30px;
}
.personal-info .badge-2{
    width: 60px;
    height: 60px;
    float: left;
    border: 1px solid #dedede;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.personal-info .txt{
    width: calc(100% - 60px);
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.personal-info .txt .badge-txt{
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: 600;
    
}
.personal-info .txt .badge-txt.gold{
    color: var(--gold);
}
.personal-info .txt h4{
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    line-height: 120%;
}

.ln-menu{
    width: 100%;
    float: left;
}
.ln-menu a{
    width: 100%;
    float: left;
    padding: 10px 20px;
    font-size: 14px;
    color: var(--purple);
    background: #fff;
    line-height: 200%;
    margin-bottom: 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.ln-menu a.muted{
    opacity: 0.4;
}

.ratio{
    position: relative;
    height: 0;
    width: 100%;
    float: left;
}
.ratio img,
.ratio iframe,
.ratio video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-slider{
    background: var(--purple);
}

.hero-slider .item .ratio{
    padding-top: 38.44%;
}
.hero-slider .owl-prev,
.hero-slider .owl-next{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(255,255,255,0.3);
    overflow: hidden;
    text-indent: -200px;
    position: absolute;
    top: calc(50% - 10px);
}
.hero-slider .owl-prev{
    left: 10px;
    background: url(../images/prev.svg) no-repeat center;
    background-size: contain;
}
.hero-slider .owl-next{
    right: 10px;
    background: url(../images/next.svg) no-repeat center;
    background-size: contain;
}
.hero-slider .owl-pagination{
    width: 100%;
    height: 5px;
    bottom: 20px;
    left: 0;
    text-align: center;
    position: absolute;
    z-index: 3;
}
.hero-slider .owl-pagination .owl-page{
    display: inline-block;
    margin: 0 2px;
}
.hero-slider .owl-pagination .owl-page span{
    display: block;
    width: 5px;
    height: 5px;
    background: rgba(255,255,255,0.3);
}
.hero-slider .owl-pagination .owl-page.active span{
    background: #fff;
}

.rewards-form{
    padding: 40px 20px 30px 20px;
    background: var(--purple);
}
.rewards-form form{
    width: 100%;
    float: left;
    position: relative;
    background: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 20px;
    overflow: hidden;
}
.rewards-form form p strong{
    color: var(--purple);
    font-family: 'frb', sans-serif;
    font-weight: 700;
}
.rewards-form form input{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    height: 56px;
    padding: 0 20px;
    font-size: 14px;
    color: #333;
    border: 1px solid #dedede;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.rewards-form form .links{
    width: 100%;
    float: left;
    font-size: 12px;
    margin-top: 20px;
}
.rewards-form form .links a{
    color: var(--purple-2);
}
.rewards-form form button{
    width: 100%;
    height: 42px;
    border: none;
    background: var(--purple-2);
    color: #fff;
    font-size: 14px;
    font-family: 'frb', sans-serif;
    font-weight: 700;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 10px;
}

.benefit{
    background: var(--light-purple);
    padding: 60px 20px 30px 20px;
}

.title{
    width: 100%;
    float: left;
}
.title h3{
    float: left;
    font-size: 16px;
    color: var(--purple);
    font-family: 'frb', sans-serif;
    font-weight: 700;
}
.title a{
    float: right;
    font-size: 14px;
    color: var(--purple-2);
}
.tite span,
.title i{
    font-size: 11px;
    text-align: left;
    float: left;
    color: var(--purple-2);
    margin-top: 5px;
}

.card-1{
    width: 100%;
    float: left;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.card-1 p{
    font-size: 12px;
    color: #fff;
}
.card-1 ul{
    list-style: circle;
    padding-left: 15px;
}
.card-1 li{
    font-size: 14px;
    color: var(--purple);
    margin-bottom: 10px;
}
.benefit .column:nth-child(2){
    margin-top: -60px;
}
.benefit .column:nth-child(4){
    margin-top: -45px;
}

.benefit-level{
    padding: 60px 20px 60px 20px;
}

.tab-pane{
    width: 100%;
    float: left;
}
.tab-pane a{
    display: inline-block;
    margin-left: 0px;
    width: calc(25% - 4px);
    height: 60px;
    position: relative;
    background: var(--light-purple);
    overflow: hidden;
    padding: 20px 0;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border: rgba(255,255,255,0);
}
.tab-pane a.active{
    width: calc(50% - 3px);
    background: #fff;
    border: 1px solid #dedede;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 3;
    transform: translateY(1px);
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    padding-left: 15px;
    padding-right: 15px;
}
.tab-pane a span{
    width: 100%;
    float: left;
    font-family: 'frb', sans-serif;
    font-weight: 700;
    color: var(--purple);
    font-size: 10px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.tab-pane a.active img{
    display: block;
}
.tab-pane a.active span{
    width: calc(100% - 58px);
    padding: 0 10px;
    font-size: 12px;
}
.tab-pane a img{
    width: 48px;
    height: 48px;
    float: left;
    object-fit: contain;
    display: none;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.tab-box{
    width: 100%;
    float: left;
    padding: 20px;
    border: 1px solid #dedede;
    margin-top: -7px;
    background: #fff;
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}

.tab-box .group{
    width: 100%;
    float: left;
}
.tab-box .group span{
    width: 100%;
    float: left;  
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--purple);
}
.tab-box .tab{
    display: none;
}
.tab-box .tab.active{
    display: block;
}

.ratio.promo-item{
    padding-top: 43.75%;
}

.promo-item{
    overflow: hidden;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 10px;
}

.promo{
    background: var(--light-purple);
    padding: 20px 20px 20px 20px;
}

.pb-60{
    padding-bottom: 68px;
}

.sticky-bottom{
    width: 360px;
    height: 68px;
    background: var(--purple);
    position: fixed;
    bottom: 0;
    left: calc((100% - 360px) / 2);
    padding: 10px 20px;
    z-index: 3;
}
.sticky-bottom a{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: var(--purple-2);
    font-family: 'frb', sans-serif;
    font-weight: 700;
    height: 48px;
    padding-top: 13px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.article{
    padding: 30px 20px;
}
.article-header{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.article-header .meta-info{
    width: 100%;
    float: left;
    font-size: 12px;
    color: var(--purple);
    margin-bottom: 5px;
}
.article-header h1{
    font-size: 20px;
    font-family: 'frb', sans-serif;
    font-weight: 700;
    color: var(--purple);
    line-height: 150%;
    margin-bottom: 10px;
}
.article-header .author{
    width: 100%;
    float: left;
}
.article-header .author .avatar{
    width: 36px;
    height: 36px;
    float: left;
}
.article-header .author .txt{
    width: calc(100% - 36px);
    float: left;
    padding-left: 10px;
    font-size: 12px;
    font-family: 'frb', sans-serif;
    font-weight: 700;
    color: var(--purple);
}
.article-header .author .txt span{
    display: block;
    font-weight: 300;
    color: var(--purple);
}
.article .main-img{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.article .main-img img{
    width: 100%;
}
.article p{
    margin-bottom: 20px;
}

.article h3{
    font-size: 16px;
    font-family: 'frb', sans-serif;
    font-weight: 700;
    color: var(--purple);
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.article ol,
.article ul{
    padding-left: 20px;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.article li{
    font-size: 14px;
    color: var(--purple);
    margin-bottom: 5px;
}
.article i{
    font-size: 12px;
}

.register{
    background: var(--light-purple) url(../images/curve-1.svg) no-repeat top;
    background-size: contain;
    padding: 20px;
    height: calc(100vh - 60px);
}
.register .form-embed{
    width: 100%;
    float: left;
    border-radius: 3px;
    background: #fff;
    padding: 20px;
}
.form-embed h5{
    color: var(--purple);
    margin-bottom: 10px;
    font-family: 'frb', sans-serif;
    font-weight: 700;
}
.form-embed p, .form-embed li{
    font-size: 14px;
    line-height: 150%;
    color: var(--purple);
    font-weight: 300;
}
.form-embed ol,
.form-embed ul{
    padding-left: 20px;
}
.form-embed li{
    margin-bottom: 5px;
}
.form-embed h6,
.form-embed strong{
    color: var(--purple);
    font-family: 'frb', sans-serif;
    font-weight: 700;
}

strong{
    color: var(--purple);
}

.badge-header{
    padding: 30px 20px;
    background: url(../images/badge-header.png) no-repeat center;
    background-size: cover;
}
.badge-header h4{
    font-size: 14px;
    font-family: 'frb', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.badge-header figure{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
}
.badge-header h5{
    font-size: 18px;
    font-family: 'frb', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.badge-header h5.gold{
    color: var(--gold);
}
.badge-header h5.pink{
    color: #EA7976;
}
.badge-header span{
    width: 100%;
    float: left;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}

.cashback-info{
    padding: 20px;
    background: var(--light-purple);
}
.cashback-info .ln-icon{
    width: 56px;
    height: 56px;
    float: left;
}
.cashback-info .txt{
    width: calc(100% - 56px);
    float: left;
    padding-left: 20px;
}
.cashback-info .txt span{
    font-size: 12px;
    color: var(--purple);
}
.cashback-info .txt h4{
    font-size: 16px;
    font-family: 'frb', sans-serif;
    font-weight: 700;
    color: var(--purple);
}
.level-progress{
    padding: 60px 20px 30px;
    border-bottom: 1px solid #dedede;
}
p.sm{
    font-size: 12px;
}

.progress-bar{
    width: 100%;
    float: left;
    position: relative;
    height: 10px;
    background: var(--light-purple);
    border: 3px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    margin: 20px 0 40px;
    position: relative;
}
.progress-bar .dots{
    width: 100%; 
    position: absolute;
    top: 50%;
}
.progress-bar .current{
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--purple-2);
}
.dots .dot{
    width: 50px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0);
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    padding-top: 70px;
    font-size: 12px;
    color: #999;
}
.dots .dot::before{
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
}
.dots .dot::after{
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background: var(--light-purple);
}
.dots .dot.active::before{
    border-color: var(--purple-2);
}
.dots .dot.active::after{
    background: var(--purple-2);
}
.dots .dot.active{
    color: var(--purple);
    font-family: 'frb', sans-serif;
    font-weight: 700;
}
.dots .dot:first-child{
    left: 5%;
}
.dots .dot:nth-child(2){
    left: 22%;
}
.dots .dot:nth-child(3){
    left: 40%;
}
.dots .dot:nth-child(4){
    left: 60%;
}
.dots .dot:nth-child(5){
    left: 78%;
}
.dots .dot:nth-child(6){
    left: 95%;
}

.tasks{
    width: 100%;
    float: left;
    margin-top: 10px;
}
.task-item{
    width: 100%;
    float: left;
    background: var(--light-purple);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    position: relative;
}
.t-icon{
    width: 40px;
    height: 40px;
    float: left;
    padding-top: 3px;
    text-align: center;
    font-size: 24px;
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: rgba(0,0,0,0.3);
}
.task-item p{
    width: calc(100% - 45px);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.task-item.done .t-icon{
    background: var(--purple);
    color: #fff;
}

.level-progress.no-bb{
    border-bottom: none;
}

.rincian{
    padding: 0 30px;
}
.rincian .column.is-12{
    padding-left: 0;
    padding-right: 0;
}
.rincian .wrapper{
    width: 100%;
    float: left;
    background: var(--light-purple);
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 30px 20px;
    margin-bottom: 30px;
}
.transx-item{
    width: 100%;
    float: left;
}
.transx-item span{
    font-size: 12px;
    color: var(--purple);
}

.dots-divider{
    width: 100%;
    float: left;
    height: 2px;
    background: #ccc;
    margin: 20px 0 30px;
}

p.footnote{
    font-size: 12px;
    padding-left: 25px;
    position: relative;
}
p.footnote i.fa{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: var(--purple);
}

.bt-group{
    width: 100%;
    float: left;
    margin-bottom: 60px;
    margin-top: 20px;
}

.bt{
    width: 100%;
    height: 50px;
    float: left;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #ccc;
    font-size: 14px;
    font-family: 'frb', sans-serif;
    font-weight: 700;
    color: var(--purple-2);
    border: none;
}
.bt.primary-bt{
    background: var(--purple-2);
    color: #fff;
}
.bt.purple-bt{
    background: #5D67F7;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.bt.secondary-bt{
    background: var(--light-purple);
}

.master.badge-page{
    padding-top: 0;
}
.master.badge-page .ln-nav{
    opacity: 0;
    pointer-events: none;
}
.master.badge-page .ln-nav.show{
    opacity: 1;
    pointer-events: auto;
}

form.form-control{
    width: 100%;
    float: left;
}
form.form-control .inp-group{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
form.form-control .inp-group label{
    width: 100%;
    float: left;
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--purple);
}
form.form-control .inp-group input{
    width: 100%;
    float: left;
    padding: 10px 20px;
    border: 1px solid #dedede;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


@media only screen and (max-width: 1023px){
    .master,
    .ln-nav{
        max-width: none;
    }
    .ln-nav{
        left: 0;
    }
    .ln-menu-pop{
        width: 100%;
        left: 0;
    }
}

@media only screen and (min-width: 1024px){
    .master{
        max-width: none;
    }
    .container{
        max-width: 1024px;
    }
    .ln-nav{
        max-width: none;
        left: 0;
    }
    .ln-nav .logo{
        padding: 0 10px;
    }
    .hero{
        background: var(--purple);
    }
    .hero-slider{
        max-width: 1024px;
        margin-left: calc((100% - 1024px) / 2);
    }
    .rewards-form form button{
        max-width: 200px;
    }

    .wave-1::before,
    .wave-2::before,
    .wave-3::before{
        display: none;
    }

    .bt-group .bt{
        display: inline-block;
        width: auto;
        margin-right: 10px;
    }

    .ln-menu-pop{
        left: 0;
        overflow: visible;
    }
    .ln-menu-pop.show{
        box-shadow: 0 0 3000px 3000px rgba(0,0,0,0.5);
    }

    .register{
        background: var(--light-purple);
    }

    .sticky-bottom{
        width: 100%;
        left: 0;
        text-align: center;
    }
    .sticky-bottom a{
        display: inline-block;
        float: none;
        width: 300px;
    }

}


.uname-list table{
    background: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 100%;
    max-width: 100%;
    float: left;
    overflow: hidden;
}
.uname-list table th{
    padding: 15px 20px;
}
.uname-list table td{
    padding: 10px 20px;
}
.uname-list table th{
    background: #f4f4f4;
    border-bottom: 1px solid #dedede;
}
.uname-list table td:first-child{
    width: 50%;
    padding-top: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.uname-list table td{
    border-bottom: 1px solid #efefef;
}
.uname-list table td button.bt{
    font-size: 12px;
    padding-top: 11px;
    margin-bottom: 0;
}
.uname-list.register{
    height: auto;
    background-position-y: -50vh;
    min-height: calc(100vh - 60px);
}

.uname-list.register table span{
    display: none;
    font-weight: 700;
}

@media only screen and (max-width: 480px){
    .uname-list.register table{
        margin-bottom: 100px;
    }
    .uname-list.register table td{
        display: block;
        width: 100%;
        float: left;
        border-bottom: none;
    }
    .uname-list.register table td:last-child{
        border-bottom: 1px solid #dedede;
        padding-bottom: 30px;
    }
    .uname-list.register th{
        display: none;
    }
    .uname-list.register table span{
        display: inline;
    }
}